/* FOOTER */
.footer {
  width: 100%;
  background: #3a98b9;
  display: block;
  color: white;
}

.footer h1 {
  font-family: Bungee;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
  font-family: Poppins;
  gap: 10px;
  display: flex;
  align-items: center;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #ffd3a3;
}

.footer-items h1 {
  color: #fff;
}

.border1 {
  height: 3px;
  width: 40px;
  background: #ffd3a3;
  color: #ffd3a3;
  background-color: #ffd3a3;
  border: 0px;
}

.footer-items ul {
  list-style: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.footer-items ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

.footer-items ul a:hover {
  color: #ffd3a3;
}

.footer-items ul li {
  margin: 10px 0;
  height: 25px;
}

.footer-items li i {
  margin-right: 20px;
}

.social-media {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
}

.social-media-icon i {
  font-size: 2rem;
  transition: transform 0.5s ease;
}

.social-media i:hover {
  transform: scale(1.2);
}
.footer-bottom {
  padding: 10px;
  background-color: #3a98b9;
  border-top: 1px solid white;
  color: #fff;
  font-size: 1rem;
  font-family: Poppins;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
  .footer-items {
    width: 50%;
  }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }
}
